@media only screen and (max-width: 500px) {
    #title {
        display: none;
    }
    #image {
        position: relative;
    }
    #footerContainer {
        flex-direction: row;
    }
  }
  
  #TMCRHeader {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    /* background-image: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
}

#title {
    color:rgb(6, 6, 6);
    text-decoration: none;
}

#row-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    width: 60%;
}

#boxContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.Box {
    text-align: center;
    align-items: stretch;
    width: 300px;
    height: 280px;
    box-shadow: 5px 5px 5px 5px rgb(209, 214, 216);
    margin-bottom: 30px;
    padding: 40px 10px 10px 10px;
}

#footerContainer {
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    width: 100%;
}

.k {
    color: rgb(43, 41, 41);
}

.footerBox {
    margin-bottom: 30px;
    padding: 40px 10px 10px 10px;
    width: 280px;
}

#map {
    height:  50%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fab {
    width: 30px;
    text-align: center;
    font-size: 30px;
}
.social {
    position: fixed;
    left: -30px;
}
.social ul{
    list-style: none;
}
.social a{
    display: inline-block;
    color: rgb(43, 41, 41);
    text-decoration: none;
    padding: 5px 10px;
    z-index: 0;
    transition: 0.1s ease;
}





