@media only screen and (max-width: 900px) {
    #title {
        display: none;
    }
    #image {
        position: relative;
        left: 50px;
    }
    #footerContainer {
        flex-direction: row;
    }
  }
  
  #TMCRHeader {
    background-color: #e2ede7;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    /* background-image: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
}

#title {
    color:rgb(6, 6, 6);
    text-decoration: none;
}

#row-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    width: 60%;
}

#boxContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.Box {
    text-align: center;
    align-items: stretch;
    width: 300px;
    height: 280px;
    box-shadow: 5px 5px 5px 5px rgb(209, 214, 216);
    margin-bottom: 30px;
    padding: 40px 10px 10px 10px;
}

#footerContainer {
    background-color: #e2ede7;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    width: 100%;
}

.k {
    color: rgb(43, 41, 41);
}

.footerBox {
    margin-bottom: 30px;
    padding: 40px 10px 10px 10px;
    width: 280px;
}




